name: Metrics

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ranjeetgtm
          template: classic
          config_timezone: Asia/Kathmandu

          base: header, activity, community, repositories, metadata

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_colors: github

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_streak: yes
